@import "../Vars.css";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    background: var(--lightContrastColor);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 1px 1px 10px;
}

.image {
    width: 125%;
}

@media (min-width: 600px) {
    .image {
        width: 75%;
    }
}