.container {
    height: 90vh;
    width: 100vw;
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.results {
    background-color: #FFF;
    width: 60vw;
    align-content: center;
    padding: 50px;
    margin-top: 150px;
}

.summary {
    font-size: 16pt;
    font-weight: 100;
}

h1, h2 {
    font-weight: 100 !important;
}

.feedback {
  flex-basis: 75%;
}

.result {
    display: flex;
    flex-direction: row;
}

.resultIcon {
    width: 150px;
    flex-shrink: 0;
}

.resultMessage {
    flex-grow: 1;
}

.goalSetting li {
    padding: 8px 18px;
}