@import "Vars.css";

.questionnaire 
{
    height: 100vh;
    width: 100vw;
    background-color: var(--primaryColor);
    
}

.sv_main {
    background-color: transparent !important; 
    font-family: 'Roboto' !important;
    font-weight: light;
}

.sv_q_title {
    font-weight: bold !important;
    font-size: 20px !important;
}
    
.sv_custom_header {
    background-color: transparent !important; 
}

.sv_prev_btn
{
    border-color: var(--accentColor) !important;
    border-width: 50px;
    color: var(--primaryColor) !important;
    background-color: var(--accentColor) !important;
}

.sv_next_btn
{
    border-color: var(--accentColor) !important;
    border-width: 50px;
    color: var(--primaryColor) !important;
    background-color: var(--accentColor) !important;
}

.sv_complete_btn
{
    border-color: var(--accentColor) !important;
    color: var(--primaryColor) !important;
    background-color: var(--accentColor) !important;
}

.sv_body
{
    background-color: transparent !important; 
    border: none !important;
    margin: auto;
    max-width: 800px;
    padding-top: 0px !important;
}

.sv_main.sv_default_css .sv_progress_bar
{
    background-color: var(--accentColor) !important;
}

.sv_progress_bar > span
{
    display: none !important;
}

.sv_q_radiogroup_label
{
    margin-right: 10px !important;
    font-weight: 200 !important;
}

body 
{
    background-color: var(--primaryColor);
}

.sv_q_radiogroup_label:last-child span {
    padding-left: 2px !important;
}

.slider {
    width: 80% !important;
    margin: auto;
}