:root { 
    --primaryColor: #9013FE;
    --backgroundColor: #F3F3F3;
    --accentColor: #F8E71C;
    --darkContrastColor: #1E1E1E;
    --lightContrastColor: #FFFFFF;
    --paragraphFont: 'Roboto Regular'
}